@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto:300,400,500');

$mainTransition: all .2s ease-in-out;

// Mixin for transition
@mixin transition($transition) {
  transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -ms-transition: $transition;
}

// Shortcut for no appearance
@mixin noappearance() {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Mono', sans-serif;
}

.normal-link {
  color: #4285F4;
  text-decoration: none;
  @include transition(color .2s ease-in-out);

  &:hover {
    text-decoration: underline;
  }
}

.page-section {
  padding-top: 56px;
  padding-bottom: 56px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  max-width: calc(100% - 48px);
}

p,
.section-text {
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0;
  }
}

#site-intro {
  padding-top: 112px;
  padding-bottom: 0;
  text-align: center;

  .site-title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 56px;
    font-weight: 400;
  }

  .site-subtext {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-family: 'Roboto Mono', sans-serif;
    color: #9E9E9E;
  }
}

#work .work-item-container {
  margin: {
    bottom: -24px;
    left: -12px;
    right: -12px;
  };
  width: calc(100% + 24px);
  display: inline-block;

  .work-item {
    float: left;
    margin: {
      bottom: 24px;
      left: 12px;
      right: 12px;
    };
    margin-top: 0;
    padding-left: 12px;
    padding-right: 12px;
    width: calc(33.33333333% - 24px);
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    @include transition($mainTransition);

    &:hover {
      background-color: #F5F5F5;
      border-radius: 4px;
      transform: scale(1.1);
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);

      .work-title {
        color: #000000;
      }
    }

    .work-preview {
      margin: 0;
      width: 100%;
      height: 10vw;
      background-position: center;
      background-size: 100px;
      background-repeat: no-repeat;
    }

    .work-title {
      margin-top: 12px;
      margin-bottom: 12px;
      width: 100%;
      text-align: center;
      color: #9E9E9E;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include transition(all .35s ease-in-out);
    }
  }
}

#contact {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;

  .block {
    padding-top: 112px;
    padding-bottom: 112px;
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto Mono', sans-serif;
    text-decoration: none;
    outline-width: 0;
    @include transition($mainTransition);
  }

  .email-btn {
    color: #FFFFFF;
    background-color: #2196F3;

    &:hover {
      color: #42A5F5;
      background-color: #0D47A1;
    }
  }

  .open-source {
    color: #FFFFFF;
    background-position: top left;
    background-size: cover;
    background-image: url('../images/open-source-background.png');
    background-repeat: no-repeat;

    &:hover {
      background-position: bottom right;
    }
  }
}

#site-footer {
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  background-color: #F5F5F5;
  font-family: 'Roboto Mono', sans-serif;

  .section-text .heart {
    color: #EA4335;
  }
}

.work-item-uncollapsed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;

  .work-item-header {
    margin-top: -56px;
    padding-top: 56px;
    padding-bottom: 112px;

    &.activated {
      .work-item-title {
        opacity: 1;
      }

      .work-item-description {
        opacity: 1;
      }

      .work-item-field {
        opacity: 1;
      }

      .close-btn {
        opacity: 1;

        &:hover {
          opacity: .7;
        }
      }
    }

    a {
      color: inherit;
      @include transition($mainTransition);

      &:hover {
        opacity: .7;
      }
    }

    .container {
      position: relative;
      margin-bottom: 0;
    }

    .work-item-title {
      font-size: 56px;
      font-weight: 400;
      opacity: 0;
      @include transition($mainTransition);
    }

    .work-item-description {
      opacity: 0;
      @include transition(all .4s ease-in-out);
    }

    .work-item-field {
      font-family: 'Roboto Mono' , sans-serif;
      line-height: 2;
      vertical-align: middle;
      opacity: 0;
      @include transition(all .8s ease-in-out);

      .title {
        width: 185px;
        font-weight: 500;
        text-transform: uppercase;
        opacity: .87;
        display: inline-block;
      }
    }

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      opacity: 0;
      @include transition($mainTransition);
    }
  }

  .container {
    margin-bottom: 56px;
  }

  .screenshot-container {
    margin-top: -56px;

    .screenshot {
      margin-left: -24px;
      margin-bottom: 48px;
      width: 100%;
      height: auto;
      opacity: 0;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, .2), 0px 8px 10px 1px rgba(0, 0, 0, .14), 0px 3px 14px 2px rgba(0, 0, 0, .12);
      @include transition(all .4s ease-in-out);

      &.activated {
        margin-left: 0;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  #site-intro .site-title {
    font-size: 36px;
  }

  .work-item-uncollapsed {
    .work-item-header {
      padding-bottom: 88px;

      .work-item-title {
        font-size: 24px;
      }

      .work-item-field {
        margin-bottom: 24px;
        line-height: 1;

        .title {
          margin-bottom: 6px;
          width: 100%;
        }
      }
    }

    .screenshot-container .screenshot {
      margin-bottom: 24px;
    }
  }

  #work .work-item-container .work-item {
    width: calc(50% - 24px);

    .work-preview {
      height: 15vw;
    }
  }

  #contact .block {
    font-size: 20px;
  }
}

@media screen and (max-width: 650px) {
  .container {
    max-width: calc(100% - 24px);
  }

  #work .work-item-container .work-item {
    width: calc(100% - 24px);

    .work-preview {
      height: 30vw;
    }
  }

  #contact .block {
    padding-top: 80px;
    padding-bottom: 80px;
    min-width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .work-item-uncollapsed .work-item-header .close-btn {
    top: -44px;
  }

  #contact .block {
    font-size: 18px;
  }
}
