@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto:300,400,500');

$mainTransition: all .2s ease-in-out;

// Mixin for transition
@mixin transition($transition) {
  transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -ms-transition: $transition;
}


// Shortcut for no appearance
@mixin noappearance() {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Mono', sans-serif;
}

.normal-link {
  color: #4285F4;
  text-decoration: none;
  @include transition(color .2s ease-in-out);

  &:hover {
    color: #083D91;
  }
}

.btn {
  padding: 0 16px;
  line-height: 36px;
  vertical-align: middle;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, .2), 0px 2px 2px 0px rgba(0, 0, 0, .14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
  cursor: pointer;
  outline-width: 0;
  @include transition($mainTransition);
  @include noappearance();

  &:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, .2), 0px 8px 10px 1px rgba(0, 0, 0, .14), 0px 3px 14px 2px rgba(0, 0, 0, .12);
  }
}

.page-section {
  padding-top: 56px;
  padding-bottom: 56px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  max-width: calc(100% - 48px);
}

.section-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 400;
}

p,
.section-text {
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0;
  }
}

$headerHeight: 64px;
#site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  line-height: $headerHeight;
  vertical-align: middle;
  color: #FFFFFF;
  background-color: #4285F4;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 100;
  @include transition($mainTransition);

  &.is-scrolling {
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2), 0 5px 5px 0 rgba(0, 0, 0, .24);
  }

  .nav .nav-items {
    float: right;
    margin: 0 -12px;
    padding: 0;
    list-style: none;

    .nav-item {
      float: left;
      margin-left: 12px;
      margin-right: 12px;
      @include transition(opacity .2s ease-in-out);

      &:hover {
        opacity: .5;
      }

      a {
        line-height: $headerHeight;
        color: inherit;
        text-decoration: inherit;
        display: inline-block;
      }
    }
  }

  .menu-btn {
    line-height: inherit;
    cursor: pointer;
    display: none;
  }
}

#site-intro {
  margin-top: $headerHeight;
  color: #FFFFFF;
  background-color: #4285F4;

  .site-title {
    font-size: 56px;
  }

  .site-subtext {
    font-family: 'Roboto Mono', sans-serif;
    color: rgba(255, 255, 255, .87);
  }
}

#work {
  background-color: #ECEFF1;
  overflow: auto;

  .work-item-container {
    margin: {
      bottom: -24px;
      left: -12px;
      right: -12px;
    };
    width: calc(100% + 24px);
    display: inline-block;

    .work-item {
      float: left;
      margin: {
        bottom: 24px;
        left: 12px;
        right: 12px;
      };
      margin-top: 0;
      padding-left: 12px;
      padding-right: 12px;
      width: calc(33.33333333% - 24px);
      background-color: #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .21);
      display: inline-block;
      cursor: pointer;
      @include transition($mainTransition);

      &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2), 0 5px 5px 0 rgba(0, 0, 0, .24);
      }

      .work-preview {
        margin: 0;
        width: 100%;
        height: 10vw;
        background-position: center;
        background-size: 100px;
        background-repeat: no-repeat;
      }

      .work-title {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 100%;
        color: #424242;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .github-link {
    margin-top: 24px;
  }
}

#about {
  color: rgba(0, 0, 0, .7);
  background-color: #FBBC05;

  .section-title .title-topline {
    margin-bottom: 6px;
    color: rgba(0, 0, 0, .6);
    font-size: 18px;
  }
}

#skills {
  position: relative;
  background-color: #EA4335;
  overflow: hidden;

  .skill-item-container {
    margin: 0;
    padding: 12px 0;
    list-style: none;

    .skill-item {
      padding-top: 12px;
      padding-bottom: 12px;
      line-height: 36px;
      vertical-align: middle;

      .skill-image {
        float: left;
        margin-right: 12px;
        width: auto;
        height: 36px;
      }

      .skill-title {
        margin: 0;
      }
    }
  }

  .code-preview {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: 750px;
    transform: translate(50%, 50%);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.4), 0 0 25px 0 rgba(0, 0, 0, 0.44);
  }
}

#contact {
  background-color: #ECEFF1;
  overflow: auto;

  .contact-form-container {
    float: left;
    margin-right: 96px;
    max-width: 100%;
    
    .contact-form {
      width: 360px;
      max-width: 100%;

      .form-group {
        margin-bottom: 18px;

        .form-label {
          margin-bottom: 6px;
          width: 100%;
          display: block;
        }

        .form-field {
          padding: 6px 12px;
          width: 100%;
          line-height: 1.5;
          font: inherit;
          border: 1px solid #9E9E9E;
          outline-width: 0;
          box-sizing: border-box;
          @include transition($mainTransition);
          @include noappearance();

          &.error {
            border-color: #EA4335;
          }

          &:focus {
            border-color: #4285F4;
          }
        }

        .form-textarea {
          height: 200px;
          resize: none;
        }

        .form-error {
          margin-top: 4px;
          color: #EA4335;
        }
      }

      .submit-btn {
        color: #FFFFFF;
        background-color: #4285F4;

        &:hover {
          background-color: #083D91;
        }
      }
    }

    .success-message {
      color: rgba(0, 0, 0, .7);
      font-size: 24px;
      font-weight: 400;
      display: none;
    }
  }

  .social-media-container {
    float: left;

    .social-media-items {
      margin: 0 -12px;
      padding: 0;
      list-style: none;

      .social-media-item {
        float: left;
        margin-left: 12px;
        margin-right: 12px;

        .social-media-icon {
          width: 56px;
          height: 56px;
          @include transition($mainTransition);

          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }
}

#site-footer {
  color: #FFFFFF;
  background-color: #212121;
  font-family: 'Roboto Mono', sans-serif;

  .section-text .heart {
    color: #EA4335;
  }
}

.work-item-uncollapsed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;

  .work-item-header {
    margin-top: -56px;
    padding-top: 56px;
    padding-bottom: 112px;

    &.activated { 
      .work-item-title {
        opacity: 1;
      }

      .work-item-description {
        opacity: 1;
      }

      .work-item-field {
        opacity: 1;
      }
    }

    a {
      color: inherit;
      @include transition($mainTransition);

      &:hover {
        opacity: .7;
      }
    }

    .container {
      position: relative;
    }

    .work-item-title {
      font-size: 56px;
      opacity: 0;
      @include transition($mainTransition);
    }

    .work-item-description {
      opacity: 0;
      @include transition(all .4s ease-in-out);
    }

    .work-item-field {
      font-family: 'Roboto Mono' , sans-serif;
      line-height: 2;
      vertical-align: middle;
      opacity: 0;
      @include transition(all .8s ease-in-out);

      .title {
        width: 185px;
        font-weight: 500;
        text-transform: uppercase;
        opacity: .87;
        display: inline-block;
      }
    }

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      @include transition($mainTransition);

      &:hover {
        opacity: .7;
      }
    }
  }

  .screenshot-container {
    margin-top: -56px;

    .screenshot {
      margin-left: -24px;
      margin-bottom: 48px;
      width: 100%;
      height: auto;
      opacity: 0;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, .2), 0px 8px 10px 1px rgba(0, 0, 0, .14), 0px 3px 14px 2px rgba(0, 0, 0, .12);
      @include transition(all .4s ease-in-out);

      &.activated {
        margin-left: 0;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #skills .code-preview {
    transform: translate(67%, 50%);
  }
}

@media screen and (max-width: 860px) {
  .section-title {
    margin-bottom: 18px;
    font-size: 24px;
  }

  #site-intro .site-title {
    font-size: 36px;
  }

  #work .work-item-container .work-item {
    width: calc(50% - 24px);

    .work-preview {
      height: 15vw;
    }
  }

  #contact .contact-form-container {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  #site-header { 
    .nav {
      position: absolute;
      top: $headerHeight;
      left: 0;
      padding-left: 24px;
      padding-right: 24px;
      width: 100%;
      background-color: #4285F4;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2), 0 5px 5px 0 rgba(0, 0, 0, .24);
      display: none;

      .nav-items {
        float: none;

        .nav-item {
          float: none;
        }
      }
    }
    
    &.is-scrolling .nav {
      background-color: #FFFFFF;
    }

    .menu-btn {
      display: block;
    }
  }
  
  #skills .code-preview {
    transform: translate(75%, 50%);
  }
}

@media screen and (max-width: 650px) {
  .container {
    max-width: calc(100% - 24px);
  }
  
  #site-header .nav {
    padding-left: 12px;
    padding-right: 12px;
  }
  
  #work .work-item-container .work-item {
    width: calc(100% - 24px);

    .work-preview {
      height: 30vw;
    }
  }
  
  #skills .code-preview {
    height: 500px;
    transform: translate(75%, 33%);
  }
}

@media screen and (max-width: 525px) {
  #skills .code-preview {
    position: initial;
    margin: {
      bottom: -64px;
      left: 12px;
      right: 12px;
    }
    width: calc(100% - 24px);
    height: auto;
    transform: none;
  }
}